@charset "utf-8";

html, body {
    height: 100%;
    min-width: 354px;
    font:  Arial,Helvetica,sans-serif;
}
.head{
    height: 58px;
}
.logo {
    width: 68px;
    height: 12px;
    position: absolute;
}
.logo img{
    height: 58px;
}
.top-menu{
    float: right;
    margin-top: 16px;
    margin-right: 1%;;
}

.top-menu a {
    color:#0698e3;
    text-decoration:none;
    font:bold 15px Arial;
}
.top-menu a:hover {
    outline:none;
    color:#18c60f;

}






.line{
    height: 1px; 
    background:#e6e6e6; 
    width: 322px; 
    margin-bottom: 28px;
}
.g-clear-big{
    height: 25px;
}
.g-clear-medium{
    height: 15px;
}




.content{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    position: relative;
}
.login-form{
    margin: 0 auto;
    max-width: 322px;
}
.login-menu h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.login-body label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    color: #878787;
}
.login-body input {
    padding: 7px 6px;
    width: 307px;
    border: 1px solid #d5d5d5;
}
.forgot-pass {
    font-size: 11px;
    display: block;
    padding-top: 9px;
    height: 15px;
}
a.login-btn {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    -khtml-border-radius:3px;
    height: 49px;
    line-height: 49px;
    display: block;
    text-shadow: 0 1px 0 #0e8ab8;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14bae6', endColorstr='#11ade3');
    background: #11ade3;
    background: -webkit-linear-gradient(top, #14bae6, #11ade3);
    background: -moz-linear-gradient(top,  #14bae6,  #11ade3);
    background: -o-linear-gradient(top,  #14bae6,  #11ade3);
    background: -ms-linear-gradient(top,  #14bae6,  #11ade3);
    color: #fff;
}
a.login-btn:hover{
    background: #1fcbec;
    color:#fff !important;
    filter: none;
}

.input-error {
    border: 1px solid #dca2a2 !important;
    -moz-box-shadow: 0 0 0 2px #ffcfcf !important;
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px #f6f6f6;
    box-shadow: 0 1px 0 #fff, inset 0 1px #f6f6f6;
}
.text-input-error{
    font: 11px Tahoma;
    clear: both;
    margin-top: 3px;
    color: #e05353;
}
